vti_encoding:SR|utf8-nl
vti_author:SR|VAVA14760-1\\jo
vti_modifiedby:SR|VAVA14760-1\\jo
vti_timelastmodified:TR|03 Aug 2012 03:54:51 -0000
vti_timecreated:TR|02 Aug 2012 16:27:35 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|default.html
vti_nexttolasttimemodified:TW|03 Aug 2012 03:53:59 -0000
vti_cacheddtm:TX|03 Aug 2012 03:54:51 -0000
vti_filesize:IR|431
