<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Web Templates by LINE9.com</title>
</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginheight="0" marginwidth="0" bgcolor="#FFFFFF">


<table border="0" width="100%" background="img/topbkg.gif" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50%">
      <p align="left"><img border="0" src="img/logo.gif" width="157" height="49"></td>
    <td width="50%">&nbsp;</td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50%"><font face="Arial" size="2"><b>&gt;&gt;HOMEPAGE</b></font></td>
    <td width="50%">
      <p align="right"><img border="0" src="img/middleright.gif" width="275" height="77"></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="99%" valign="top"><font size="4">Header 1</font>
      <p>&nbsp;</p>
      <p><font size="2">&nbsp;</font></p>
      <p><font size="2">&nbsp;</font></p>
      <p><font size="4">Header 2</font></p>
      <p><font size="2">&nbsp;</font></p>
      <p><font size="2">&nbsp;</font></p>
      <p><font size="2">&nbsp;</font></p>
      <p><font size="2">&nbsp;</font></p>
      <p align="center"><font face="Arial" size="1">© COPYRIGHT 2001 ALL RIGHTS
      RESERVED YOURDOMAIN.COM</font></td>
    <td width="1%" background="img/sidebkg.gif" valign="top">
      <p align="right"><img border="0" src="img/sidebkg.gif" width="169" height="9"><br>
      <img border="0" src="img/blankbutton.gif" width="167" height="30"><br>
      <img border="0" src="img/blankbutton.gif" width="167" height="30"><br>
      <img border="0" src="img/blankbutton.gif" width="167" height="30"><br>
      <img border="0" src="img/blankbutton.gif" width="167" height="30"><br>
      <img border="0" src="img/blankbutton.gif" width="167" height="30"><br>
      <img border="0" src="img/blankbutton.gif" width="167" height="30"><br>
      <img border="0" src="img/blankbutton.gif" width="167" height="30"><br>
      <img border="0" src="img/blankbutton.gif" width="167" height="30"><br>
      &nbsp;</td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0" background="img/botbkg.gif">
  <tr>
    <td width="100%"><img border="0" src="img/botbkg.gif" width="42" height="13"></td>
  </tr>
</table>


</body>

</html>
