<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Web Templates by LINE9.com</title>
</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginheight="0" marginwidth="0" bgcolor="#FFFFFF">


<table border="0" width="100%" cellspacing="0" cellpadding="0" background="img/topbkg.gif">
  <tr>
    <td width="50%"><img border="0" src="img/topleft.gif" width="290" height="51"></td>
    <td width="50%" valign="top">
      <p align="right"><font color="#FFFFFF" face="Arial" size="2"><b>www.yourdomain.com</b></font></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="33%" background="img/sidebkg.gif" valign="top">
      <table border="0" width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td width="100%"><img border="0" src="img/topleft2.gif" width="257" height="112"></td>
        </tr>
      </table>
      <table border="0" width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td width="50%" valign="top" background="img/rightsidebkg.gif"><img border="0" src="img/topleft3.gif" width="195" height="75"><br>
            <img border="0" src="img/button1.gif" width="178" height="35"><br>
            <img border="0" src="img/buttonblank.gif" width="181" height="31"><br>
            <img border="0" src="img/buttonblank.gif" width="181" height="31"><br>
            <img border="0" src="img/buttonblank.gif" width="181" height="31"><br>
            <img border="0" src="img/buttonblank.gif" width="181" height="31"></td>
          <td width="50%" valign="top"><img border="0" src="img/page.gif" width="59" height="199"></td>
        </tr>
      </table>
    </td>
    <td width="99%" valign="top">
      <table border="0" width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td width="1%" valign="top"><img border="0" src="img/leftcorn.gif" width="28" height="22"></td>
          <td width="98%" valign="top"><b><font face="Arial" size="1">&gt;&gt;
            HOMEPAGE</font></b></td>
          <td width="1%" valign="top">
            <p align="right"><img border="0" src="img/rightcorn.gif" width="28" height="22"></td>
        </tr>
      </table>
      <p><font face="Arial" size="2">&nbsp;</font></p>
      <p><font face="Arial" size="2">&nbsp;</font></p>
      <p><font face="Arial" size="2">&nbsp;</font></p>
      <p><font face="Arial" size="2">&nbsp;</font></p>
      <p><font face="Arial" size="2">&nbsp;</font></p>
      <p><font face="Arial" size="2">&nbsp;</font></p>
      <p><font face="Arial" size="2">&nbsp;</font></p>
      <p><font face="Arial" size="2">&nbsp;</font></p>
      <p><font face="Arial" size="2">&nbsp;</font></p>
      <p align="center"><font face="Arial" size="1">© COPYRIGHT 2001 ALL RIGHTS
      RESERVED YOURDOMAIN.COM</font></td>
    <td width="1%" background="img/rightsidebkg.gif" valign="top"><img border="0" src="img/rightsidebkg.gif" width="24" height="15"></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0" background="img/botbkg.gif">
  <tr>
    <td width="50%">
      <p align="left"><img border="0" src="img/botleft.gif" width="235" height="40"></td>
    <td width="50%">
      <p align="right"><img border="0" src="img/botright.gif" width="69" height="40"></td>
  </tr>
</table>


</body>

</html>
