<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Web Templates by LINE9.com</title>
</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginheight="0" marginwidth="0" bgcolor="#FFFFFF">


<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="100%"><font size="2">&nbsp;</font></td>
  </tr>
</table>
<div align="center">
  <center>
  <table border="0" width="90%" cellspacing="0" cellpadding="0" background="img/redbkg.gif">
    <tr>
      <td width="1%"><img border="0" src="img/leftcorn.gif" width="33" height="40"></td>
    </center>
    <td width="98%">
      <p align="left"><font face="Arial" size="4" color="#FFFFFF"><b>Place your
      auction title here!</b></font></td>
    <td width="1%">
      <p align="right"><img border="0" src="img/rightcorn.gif" width="33" height="40"></td>
  </tr>
  </table>
</div>
<div align="center">
  <center>
  <table border="0" width="90%" cellspacing="0" cellpadding="0">
    <tr>
      <td width="1%" background="img/blackside.gif"><img border="0" src="img/blackside.gif" width="6" height="6"></td>
      <td width="99%">
        <table border="0" width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td width="50%">
              <p align="center"><img border="0" src="img/photoex.gif" width="165" height="152"></td>
            <td width="50%" valign="top">&nbsp;
              <p><font face="Arial"><b>Item Description:</b></font></p>
              <p><font face="Arial">Place your auction description here.</font></p>
              <p>&nbsp;</p>
              <p><font face="Arial"><b>Auction Terms and Payment Policy:</b></font></p>
              <p><font face="Arial">Place your auction terms here.</font></p>
              <p>&nbsp;</p>
              <p>&nbsp;</td>
          </tr>
        </table>
      </td>
      <td width="1%" background="img/blackside.gif">
        <p align="right"><img border="0" src="img/blackside.gif" width="6" height="6"></td>
    </tr>
  </table>
  </center>
</div>
<div align="center">
  <center>
  <table border="0" width="90%" cellspacing="0" cellpadding="0" background="img/blackside.gif">
    <tr>
      <td width="100%"><font size="2">&nbsp;</font></td>
    </tr>
  </table>
  </center>
</div>


</body>

</html>
