/*--- Avanquest WebEasy Page Style ---*/


.cc02               { /* Common */
	border          :   0.00pt none #f0f0f0;
	}
span#e17            { /* images/primera002005.jpg */
	background      : transparent url(images/primera002005.jpg) no-repeat top left;
	position        : absolute;
	left            :   0.00pt;
	top             :   0.00pt;
	width           : 768.00pt;
	height          : 288.75pt;
	}
span#e16            { /* images/primera002004.jpg */
	background      : transparent url(images/primera002004.jpg) no-repeat top left;
	position        : absolute;
	left            :  76.50pt;
	top             : 238.50pt;
	width           : 615.75pt;
	height          : 445.50pt;
	}
span#e15            { /* images/primera002003.jpg */
	background      : transparent url(images/primera002003.jpg) no-repeat top left;
	position        : absolute;
	left            :  82.50pt;
	top             : 206.25pt;
	width           : 603.75pt;
	height          :  24.75pt;
	}
span#e14            { /* images/primera002002.jpg */
	background      : transparent url(images/primera002002.jpg) no-repeat top left;
	position        : absolute;
	left            :  82.50pt;
	top             : 585.00pt;
	width           : 120.00pt;
	height          :  90.00pt;
	}
div#e13             { /* Logo */
	padding-top     :   9.00pt;
	position        : absolute;
	left            : 133.50pt;
	top             : 107.25pt;
	width           : 134.25pt;
	height          :  39.75pt;
	}
div#e12             { /* Logo */
	font            : bold 18pt 'Arial', Helvetica, sans-serif;
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 111.75pt;
	top             : 608.25pt;
	width           :  61.50pt;
	height          :  26.25pt;
	}
div#e11             { /* Portada */
	padding-top     :   5.25pt;
	position        : absolute;
	left            :  85.50pt;
	top             : 207.75pt;
	width           :  90.75pt;
	height          :  15.75pt;
	}
div#e10             { /* Nosotros */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 183.75pt;
	top             : 207.75pt;
	width           :  90.75pt;
	height          :  15.75pt;
	}
div#e9              { /* Galería */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 282.00pt;
	top             : 207.75pt;
	width           :  90.75pt;
	height          :  15.75pt;
	}
div#e8              { /* Contacte */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 380.25pt;
	top             : 207.75pt;
	width           :  90.75pt;
	height          :  15.75pt;
	}
address#e7          { /* Nombre */
	text-align      : left;
	background-color: transparent;
	position        : absolute;
	left            : 187.50pt;
	top             : 626.25pt;
	width           :  79.50pt;
	height          :  12.00pt;
	}
address#e6          { /* Dirección */
	text-align      : left;
	background-color: transparent;
	position        : absolute;
	left            : 187.50pt;
	top             : 641.25pt;
	width           :  79.50pt;
	height          :  12.00pt;
	}
address#e5          { /* E-mail */
	text-align      : left;
	background-color: transparent;
	position        : absolute;
	left            : 187.50pt;
	top             : 656.25pt;
	width           :  79.50pt;
	height          :  12.00pt;
	}
h6#e4               { /* Este software contiene m... */
	background-color: transparent;
	position        : absolute;
	left            :  82.50pt;
	top             : 677.25pt;
	width           : 597.75pt;
	height          :  12.75pt;
	}
h4#e3               { /* Nosotros */
	position        : absolute;
	left            : 103.50pt;
	top             : 258.75pt;
	width           : 203.25pt;
	height          :  15.00pt;
	}
div#e2              { /* escriba el perfil de la ... */
	text-align      : left;
	position        : absolute;
	left            : 104.25pt;
	top             : 291.75pt;
	width           : 267.00pt;
	height          : 297.00pt;
	}
span#e1             { /* images/primera002001.jpg */
	border          :   0.00pt none #f1dacf;
	background      : transparent url(images/primera002001.jpg) no-repeat top left;
	position        : absolute;
	left            : 414.75pt;
	top             : 291.75pt;
	width           : 243.00pt;
	height          : 294.00pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           : 768.00pt;
	height          : 712.50pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #6a70a2;
	background-image: url(images/dr_i_bg.jpg);
	text-align      : center;
	}



/*--- EndOfFile ---*/
