<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Web Templates by LINE9.com</title>
</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginheight="0" marginwidth="0" bgcolor="#FFFFFF">


<table border="0" width="100%" cellspacing="0" cellpadding="0" background="img/topbkg.gif">
  <tr>
    <td width="100%"><img border="0" src="img/logo.gif" width="146" height="89"></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="1%" background="img/sidebkg.gif" valign="top"><img border="0" src="img/topbutton.gif" width="155" height="36"><br>
      <img border="0" src="img/blankbutton.gif" width="150" height="30"><br>
      <img border="0" src="img/blankbutton.gif" width="150" height="30"><br>
      <img border="0" src="img/blankbutton.gif" width="150" height="30"><br>
      <img border="0" src="img/blankbutton.gif" width="150" height="30"><br>
      <img border="0" src="img/blankbutton.gif" width="150" height="30"><br>
      <img border="0" src="img/blankbutton.gif" width="150" height="30"><br>
      <img border="0" src="img/blankbutton.gif" width="150" height="30"><br>
      <img border="0" src="img/blankbutton.gif" width="150" height="30">
      <p>&nbsp;</p>
      <p>&nbsp;</td>
    <td width="99%" valign="top"><br>
      <font size="4">Header 1</font>
      <p><font face="Arial" size="2">Place your content here.</font></p>
      <p><font face="Arial" size="2">&nbsp;</font></p>
      <p><font face="Arial" size="2">&nbsp;</font></p>
      <p><font size="4">Header 2&nbsp;</font></p>
      <p><font face="Arial" size="2">Place your content here.</font></p>
      <p><font face="Arial" size="2">&nbsp;</font></p>
      <p><font face="Arial" size="2">&nbsp;</font></p>
      <p><font face="Arial" size="2">&nbsp;</font></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="1%"><img border="0" src="img/bottombutton.gif" width="156" height="34"></td>
    <td width="99%">
      <p align="center"><font face="Arial" size="1">© COPYRIGHT 2001 ALL RIGHTS
      RESERVED YOURDOMAINCOM</font></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0" background="img/botbkg.gif">
  <tr>
    <td width="100%"><img border="0" src="img/botbkg.gif" width="51" height="14"></td>
  </tr>
</table>


</body>

</html>
