<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Web Templates by LINE9.com</title>
</head>

<body bgcolor="#FFFFFF">


<div align="center">
  <table border="0" width="90%" cellspacing="0" cellpadding="0" background="img/topbkg.gif">
    <tr>
      <td width="1%">
        <p align="left"><img border="0" src="img/leftcorn.gif" width="31" height="55"></td>
      <center>
      <td width="98%" valign="top"><b><font color="#FFFFFF" size="5">SITENAME</font></b></td>
      </center>
      <td width="1%">
        <p align="right"><img border="0" src="img/rightcorn.gif" width="31" height="55"></td>
    </tr>
  </table>
</div>
<div align="center">
  <center>
  <table border="0" width="90%" cellspacing="0" cellpadding="0">
    <tr>
      <td width="1%" background="img/sidebkg.gif" valign="top"><br>
        <img border="0" src="img/buttonex.gif" width="149" height="40"><br>
        <img border="0" src="img/buttonex.gif" width="149" height="40"><br>
        <img border="0" src="img/buttonex.gif" width="149" height="40"><br>
        <img border="0" src="img/buttonex.gif" width="149" height="40"><br>
        <img border="0" src="img/buttonex.gif" width="149" height="40"><br>
        <img border="0" src="img/buttonex.gif" width="149" height="40"><br>
        <img border="0" src="img/buttonex.gif" width="149" height="40">
        <p><font size="1">&nbsp;</font></p>
        <p><font size="1">&nbsp;</font></td>
      <td width="98%" valign="top"><br>
        <font face="Arial" size="4">Header 1</font>
        <p><font face="Arial" size="2">&nbsp;</font></p>
        <p><font face="Arial" size="2">&nbsp;</font></p>
        <p><font face="Arial" size="2">&nbsp;</font></p>
        <p><font face="Arial" size="4">Header 2</font></p>
        <p><font face="Arial" size="2">&nbsp;</font></p>
        <p><font face="Arial" size="2">&nbsp;</font></p>
        <p><font face="Arial" size="2">&nbsp;</font></p>
        <p><font face="Arial" size="2">&nbsp;</font></p>
        <p align="center"><font face="Arial" size="1">© COPYRIGHT 2001 ALL
        RIGHTS RESERVED YOURDOMAIN.COM</font></td>
      <td width="1%" background="img/rightblack.gif"><img border="0" src="img/rightblack.gif" width="5" height="29"></td>
    </tr>
  </table>
  </center>
</div>
<div align="center">
  <center>
  <table border="0" width="90%" cellspacing="0" cellpadding="0" background="img/botbkg.gif">
    <tr>
      <td width="100%"><img border="0" src="img/botbkg.gif" width="15" height="20"></td>
    </tr>
  </table>
  </center>
</div>


</body>

</html>
