<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Web Templates by LINE9.com</title>
</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginheight="0" marginwidth="0" bgcolor="#FFFFFF">


<table border="0" width="100%" cellspacing="0" cellpadding="0" background="img/topbkg.gif">
  <tr>
    <td width="50%"><img border="0" src="img/toplogo.gif" width="157" height="55"></td>
    <td width="50%">
      <p align="right"><img border="0" src="img/topright.gif" width="178" height="55"></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0" background="img/shadow.gif">
  <tr>
    <td width="50%"><font face="Arial" size="2"><b>&gt;&gt;HOMEPAGE</b></font></td>
    <td width="50%">
      <p align="right"><img border="0" src="img/middleright.gif" width="283" height="70"></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="99%" valign="top">
      <p style="margin-left: 0"><font face="Arial" size="3">Header 1</font></p>
      <p style="margin-left: 0"><font face="Arial" size="2">&nbsp;</font></p>
      <p style="margin-left: 0"><font face="Arial" size="2">&nbsp;</font></p>
      <p style="margin-left: 0"><font face="Arial" size="2">&nbsp;</font></p>
      <p style="margin-left: 0"><font face="Arial" size="2">&nbsp;</font></p>
      <p style="margin-left: 0"><font face="Arial" size="3">Header 2</font></p>
      <p style="margin-left: 0"><font face="Arial" size="2">&nbsp;</font></p>
      <p style="margin-left: 0"><font face="Arial" size="2">&nbsp;</font></p>
      <p style="margin-left: 0"><font face="Arial" size="2">&nbsp;</font></p>
      <p style="margin-left: 20" align="center"><font face="Arial" size="1">©
      COPYRIGHT 2001 ALL RIGHTS RESERVED YOURDOMAIN.COM</font></td>
    <td width="1%" background="img/sidebkg.gif" valign="top">
      <p align="right"><img border="0" src="img/sidebkg.gif" width="121" height="11"><br>
      <img border="0" src="img/but1.gif" width="107" height="30"><br>
      <img border="0" src="img/but2.gif" width="107" height="30"><br>
      <img border="0" src="img/but3.gif" width="107" height="30"><br>
      <img border="0" src="img/but4.gif" width="107" height="30"><br>
      <img border="0" src="img/but5.gif" width="107" height="30"><br>
      <img border="0" src="img/but6.gif" width="107" height="30"><br>
      <img border="0" src="img/but7.gif" width="107" height="19"><br>
      <font size="1">&nbsp;</font></p>
      <p align="right"><font size="1">&nbsp;</font></p>
      <p align="right"><font size="1">&nbsp;</font></p>
      <p align="right"><font size="1">&nbsp;</font></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0" background="img/botbkg.gif">
  <tr>
    <td width="100%"><img border="0" src="img/botbkg.gif" width="30" height="12"></td>
  </tr>
</table>


</body>

</html>
