<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Web Templates by LINE9.com</title>
</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginheight="0" marginwidth="0" bgcolor="#FFFFFF">


<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="100%"><font size="3">&nbsp;</font></td>
  </tr>
</table>
<div align="center">
  <table border="0" width="90%" cellspacing="0" cellpadding="0" background="img/topbkg.gif">
    <tr>
      <td width="1%">
        <p align="left"><img border="0" src="img/topleft.gif" width="51" height="80"></td>
      <center>
      <td width="98%"><font color="#FFFFFF" face="Arial" size="5"><b>Place your
        auction title here</b></font></td>
      </center>
      <td width="1%">
        <p align="right"><img border="0" src="img/topright.gif" width="51" height="80"></td>
    </tr>
  </table>
</div>
<div align="center">
  <center>
  <table border="0" width="90%" cellspacing="0" cellpadding="0">
    <tr>
      <td width="1%" background="img/sidebkg.gif"><img border="0" src="img/sidebkg.gif" width="5" height="8"></td>
      <td width="49%">
        <p align="center"><img border="0" src="img/image.gif" width="229" height="206"></td>
      <td width="49%" valign="top"><font size="3">&nbsp;</font>
        <p><img border="0" src="img/descript.gif" width="226" height="19"></p>
        <p><font size="3">&nbsp;</font></p>
        <p><font size="3">&nbsp;</font></p>
        <p><img border="0" src="img/terms.gif" width="226" height="19"></p>
        <p><font size="3">&nbsp;</font></p>
        <p><font size="3">&nbsp;</font></p>
        <p><font size="3">&nbsp;</font></p>
        <p>&nbsp;</td>
      <td width="1%" background="img/sidebkg.gif">&nbsp;</td>
    </tr>
  </table>
  </center>
</div>
<div align="center">
  <center>
  <table border="0" width="90%" cellspacing="0" cellpadding="0" background="img/botbkg.gif">
    <tr>
      <td width="100%"><img border="0" src="img/botbkg.gif" width="12" height="5"></td>
    </tr>
  </table>
  </center>
</div>


</body>

</html>
