<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Web Templates by LINE9.com</title>
</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginheight="0" marginwidth="0" bgcolor="#FFFFFF">


<table border="0" width="100%" cellspacing="0" cellpadding="0" background="img/tpobkg.gif">
  <tr>
    <td width="50%"><img border="0" src="img/topleft.gif" width="227" height="79"></td>
    <td width="50%" valign="top">
      <p align="right"><font color="#FFFFFF" size="6">sitename<br>
      </font><font color="#FFFFFF" size="1">www.yourdomain.com</font></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="1%" background="img/sidebkg.gif"><img border="0" src="img/topleft2.gif" width="115" height="65"><br>
      <img border="0" src="img/sitenav.gif" width="115" height="16"><br>
      <img border="0" src="img/blankbutton.gif" width="116" height="17"><br>
      <img border="0" src="img/blankbutton.gif" width="116" height="17"><br>
      <img border="0" src="img/blankbutton.gif" width="116" height="17"><br>
      <img border="0" src="img/blankbutton.gif" width="116" height="17"><br>
      <img border="0" src="img/blankbutton.gif" width="116" height="17"><br>
      <img border="0" src="img/blankbutton.gif" width="116" height="17"><br>
      <img border="0" src="img/blankbutton.gif" width="116" height="17"><br>
      <img border="0" src="img/blankbutton.gif" width="116" height="17"><br>
      <img border="0" src="img/buttonbottom.gif" width="115" height="16"><br>
      &nbsp;
      <p>&nbsp;</p>
      <p>&nbsp;</td>
    <td width="99%" valign="top">
      <p style="margin-left: 20"><br>
      <font size="5">Header 1</font><font size="2"> </font></p>
      <p style="margin-left: 20"><font size="2">&nbsp;</font></p>
      <p style="margin-left: 20"><font size="2">&nbsp;</font></p>
      <p style="margin-left: 20"><font size="2">&nbsp;</font></p>
      <p style="margin-left: 20"><font size="5">Header 2</font></p>
      <p style="margin-left: 20"><font size="2">&nbsp;</font></p>
      <p style="margin-left: 20"><font size="2">&nbsp;</font></p>
      <p style="margin-left: 20"><font size="2">&nbsp;</font></p>
      <p style="margin-left: 20" align="center"><font face="Arial" size="1">©
      COPYRIGHT 2001 ALL RIGHTS RESERVED YOURDOMAIN.COM</font></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0" background="img/botbkg.gif">
  <tr>
    <td width="100%"><img border="0" src="img/botbkg.gif" width="26" height="10"></td>
  </tr>
</table>


</body>

</html>
