vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|01 Nov 2012 18:49:44 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Metalky-PC\\Metalky
vti_modifiedby:SR|SERVIDOR\\Administrador
vti_timecreated:TR|17 Dec 2011 23:01:12 -0000
vti_backlinkinfo:VX|nuevo/about_002.htm
vti_cacheddtm:TX|01 Nov 2012 18:49:44 -0000
vti_filesize:IR|5443
vti_cachedlinkinfo:VX|S|images/about002006.jpg S|images/about002005.jpg S|images/about002004.jpg S|images/about002003.jpg S|images/about002002.jpg S|images/about002001.jpg S|images/about002b01.jpg
vti_cachedsvcrellinks:VX|FSUS|nuevo/images/about002006.jpg FSUS|nuevo/images/about002005.jpg FSUS|nuevo/images/about002004.jpg FSUS|nuevo/images/about002003.jpg FSUS|nuevo/images/about002002.jpg FSUS|nuevo/images/about002001.jpg FSUS|nuevo/images/about002b01.jpg
