<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Web Templates by LINE9.com</title>
</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginheight="0" marginwidth="0" bgcolor="#FFFFFF" background="img/mainbkg.gif">


<table border="0" width="100%" cellspacing="0" cellpadding="0" background="img/topbkg.gif">
  <tr>
    <td width="100%"><img border="0" src="img/toplogo.gif" width="155" height="58"></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="100%"><font size="3">&nbsp;</font></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="1%"><img border="0" src="img/spacer.gif" width="19" height="23"></td>
    <td width="98%" background="img/white.gif">
      <p align="center"><img border="0" src="img/blankbutton.gif" width="110" height="28"><img border="0" src="img/blankbutton.gif" width="110" height="28"><img border="0" src="img/blankbutton.gif" width="110" height="28"><img border="0" src="img/blankbutton.gif" width="110" height="28"><img border="0" src="img/blankbutton.gif" width="110" height="28"><img border="0" src="img/blankbutton.gif" width="110" height="28"></p>
      <p align="left" style="margin-left: 20"><font size="4">Header 1</font></p>
      <p align="left" style="margin-left: 20">Place your content here.</p>
      <p align="left" style="margin-left: 20">&nbsp;</p>
      <p align="left" style="margin-left: 20">&nbsp;</p>
      <p align="left" style="margin-left: 20"><font size="4">Header 2</font></p>
      <p align="left" style="margin-left: 20">Place your content here.</p>
      <p align="left" style="margin-left: 20">&nbsp;</p>
      <p align="left" style="margin-left: 20">&nbsp;</p>
      <p align="center" style="margin-left: 20"><font face="Arial" size="1">©
      COPYRIGHT 2001 ALL RIGHTS RESERVED YOURDOMAIN.COM</font></td>
    <td width="1%"><img border="0" src="img/spacer.gif" width="19" height="23"></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="100%"><font size="1">&nbsp;</font></td>
  </tr>
</table>


</body>

</html>
