<html>

<head>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>WEB TEMPLATE PROVIDED BY LINE9.com</title>
</head>

<body topmargin="0" leftmargin="0">

<table border="0" width="100%" background="top.jpg" cellspacing="0" cellpadding="0" height="72">
  <tr>
    <td width="26%"><img border="0" src="logo.jpg" width="134" height="72"></td>
    <td width="64%">
      <p align="right"><img border="0" src="topleft.jpg" width="488" height="72"></td>
    <td width="10%" bgcolor="#FFFFFF">
      <p align="right">&nbsp;</td>
  </tr>
</table>
<table border="0" width="100%" bgcolor="#000000" cellspacing="0" cellpadding="0" height="21" background="blackbkg.jpg">
  <tr>
    <td width="100%" valign="top"><font size="2">&nbsp;&nbsp;&nbsp;&nbsp; <b><font face="Verdana" color="#FFFFFF"><img border="0" src="sideline.jpg" width="2" height="10">&nbsp;
      Home Page&nbsp; <img border="0" src="sideline.jpg" width="2" height="10">&nbsp;
      About US&nbsp; <img border="0" src="sideline.jpg" width="2" height="10">&nbsp;
      Contact Us&nbsp; <img border="0" src="sideline.jpg" width="2" height="10">&nbsp;
      Photo Gallery&nbsp; <img border="0" src="sideline.jpg" width="2" height="10">&nbsp;
      Your Choice&nbsp;&nbsp; <img border="0" src="sideline.jpg" width="2" height="10">&nbsp;
      Your Choice&nbsp; <img border="0" src="sideline.jpg" width="2" height="10">&nbsp;
      Your Choice&nbsp; <img border="0" src="sideline.jpg" width="2" height="10"></font></b></font></td>
  </tr>
</table>
<table border="0" width="771" cellspacing="0" cellpadding="0">
  <tr>
    <td width="180" background="piano.gif">&nbsp;</td>
    <td width="554"><br>
      <blockquote>
        <p><img border="0" src="bullet.jpg" width="19" height="19"> <font size="5">WELCOME
        <img border="0" src="line.jpg" width="259" height="17"></font></p>
        <blockquote>
          <font face="Verdana" size="2">This is where you place your welcome
            text. This is where you place your welcome text. This is where you
            place your welcome text.<br>
            <br>
          This is where you place your welcome
            text. This is where you place your welcome text. This is where you
            place your welcome text. This is where you place your welcome text.
            </font>
        </blockquote>
        <p><img border="0" src="bullet.jpg" width="19" height="19"> <font size="5">HEADING
        2 <img border="0" src="line.jpg" width="259" height="17"></font></p>
        <blockquote>
          <font face="Verdana" size="2">This is where you place your welcome
            text. This is where you place your welcome text. This is where you
            place your welcome text. This is where you place your welcome text.<br>
            <br>
            </font>
          <p><font face="Verdana" size="2">&nbsp;</font></p>
          <p><font face="Verdana" size="2">&nbsp;</font></p>
        </blockquote>
      </blockquote>
      <p align="center"><font face="Verdana" size="1"><b>Your Company - Copyright
      2000 © - All Right Reserved</b></font></td>
    <td width="31"></td>
  </tr>
</table>

</body>

</html>
