<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Web Templates by LINE9.com</title>
</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginheight="0" marginwidth="0" bgcolor="#FFFFFF">


<table border="0" width="100%" cellspacing="0" cellpadding="0" background="img/topbkg.gif">
  <tr>
    <td width="50%">
      <p align="left"><img border="0" src="img/logo.gif" width="121" height="104"></td>
    <td width="50%">
      <p align="right"><img border="0" src="img/slogan.gif" width="318" height="104"></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="1%" background="img/sidebkg.gif" valign="top"><font size="3">&nbsp;</font>
      <p><img border="0" src="img/button.gif" width="112" height="32"><br>
      <img border="0" src="img/button.gif" width="112" height="32"><br>
      <img border="0" src="img/button.gif" width="112" height="32"><br>
      <img border="0" src="img/button.gif" width="112" height="32"><br>
      <img border="0" src="img/button.gif" width="112" height="32"><br>
      <img border="0" src="img/button.gif" width="112" height="32"><br>
      <img border="0" src="img/button.gif" width="112" height="32"></p>
      <p><font size="3">&nbsp;</font></p>
      <p><font size="3">&nbsp;</font></td>
    <td width="98%" valign="top">
      <p style="MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px"><font size="4" color="#008000">Header
      1</font></p>
      <p style="MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px"><font size="3">Place your
      content here.</font></p>
      <p style="MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px"><font size="3">&nbsp;</font></p>
      <p style="MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px"><font size="3">&nbsp;</font></p>
      <p style="MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px"><font size="3">&nbsp;</font></p>
      <p style="MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px"><font size="4" color="#008000">Header
      2</font></p>
      <p style="MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px"><font size="3">Place your
      content here.</font></p>
      <p style="MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px"><font size="3">&nbsp;</font></p>
      <p style="MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px"><font size="3">&nbsp;</font></p>
      <p style="MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px"><font size="3">&nbsp;</font></p>
      <p style="MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px" align="center"><font face="Arial" size="1">©
      COPYRIGHT 2001 ALL RIGHTS RESERVED YOURDOMAIN.COM</font></td>
    <td width="1%" background="img/rightside.gif"><img border="0" src="img/rightside.gif" width="6" height="9"></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0" background="img/botbkg.gif">
  <tr>
    <td width="100%"><img border="0" src="img/botbkg.gif" width="33" height="6"></td>
  </tr>
</table>


</body>

</html>
