<HTML>
<HEAD>
  <TITLE></TITLE>
  <META name="description" content="">
  <META name="keywords" content="">
</HEAD>



<BODY BGCOLOR="FFFFFF" TEXT="000000" LINK="blue" VLINK="purple" Marginwidth=0 marginheight=0 leftmargin=0 topmargin=0>



<p><font size="5"><br>
</font></p>
<p><font size="5">Heading 1</font> <img border="0" src="line.jpg" width="399" height="10"></p>
<ul>
  <li><font face="Verdana" size="2">This is where to place your text. This is
    where to place your text. This is where to place your text. This is where to
    place your text. This is where to place your text. This is where to place
    your text.<br>
    <br>
    </font></li>
  <li><font face="Verdana" size="2">This is where to place your text. This is
    where to place your text. This is where to place your text. This is where to
    place your text.</font></li>
</ul>
<p><font size="5">Heading 2</font><img border="0" src="line.jpg" width="399" height="10"></p>
<ul>
  <li><font face="Verdana" size="2">This is where to place your text. This is
    where to place your text. This is where to place your text. This is where to
    place your text. This is where to place your text. This is where to place
    your text. <br>
    <br>
    </font></li>
  <li><font face="Verdana" size="2">This is where to place your text. This is
    where to place your text. This is where to place your text. This is where to
    place your text. This is where to place your text. </font></li>
</ul>
<p align="center">&nbsp;</p>
<p align="center"><font face="Verdana" size="1">COPYRIGHT 2000 - YOUR COMPANY - ALL RIGHTS RESERVED</font></p>



</BODY>
</HTML>