<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Web Templates by LINE9.com</title>
</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginheight="0" marginwidth="0" bgcolor="#FFFFFF">


<table border="0" width="100%" cellspacing="0" cellpadding="0" background="img/topbkg.gif">
  <tr>
    <td width="1%"><img border="0" src="img/topleftex.gif" width="202" height="72"></td>
    <td width="99%" valign="bottom">
      <p align="right"><img border="0" src="img/exampletext.gif" width="152" height="16"></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="1%" background="img/sidebkg.gif" valign="top"><img border="0" src="img/toplogo2.gif" width="163" height="94"><br>
      <img border="0" src="img/topbutton.gif" width="142" height="48"><br>
      <img border="0" src="img/blankbuttonmid.gif" width="142" height="20"><br>
      <img border="0" src="img/blankbuttonmid.gif" width="142" height="20"><br>
      <img border="0" src="img/blankbuttonmid.gif" width="142" height="20"><br>
      <img border="0" src="img/blankbuttonmid.gif" width="142" height="20"><br>
      <img border="0" src="img/blankbuttonmid.gif" width="142" height="20"><br>
      <img border="0" src="img/blankbuttonbot.gif" width="143" height="44">
      <p>&nbsp;</p>
      <p>&nbsp;</td>
    <td width="99%" valign="top">
      <table border="0" width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td width="100%">
            <p align="center"><font face="Arial" size="1">YOUR LINK&nbsp;&nbsp;
            |&nbsp;&nbsp; YOUR LINK&nbsp;&nbsp; |&nbsp;&nbsp; YOUR
            LINK&nbsp;&nbsp; |&nbsp;&nbsp; YOUR LINK&nbsp;&nbsp; |&nbsp;&nbsp;
            YOUR LINK&nbsp;&nbsp; |&nbsp;&nbsp; YOUR LINK&nbsp;&nbsp;
            |&nbsp;&nbsp; YOUR LINK</font></td>
        </tr>
      </table>
      <p><font size="5">Header 1</font></p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p><font size="5">Header 2</font></p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p align="center"><font face="Arial" size="1">© COPYRIGHT 2001 ALL RIGHTS
      RESERVED YOURDOMAIN.COM</font></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0" background="img/botbkg.gif">
  <tr>
    <td width="100%"><img border="0" src="img/botbkg.gif" width="10" height="10"></td>
  </tr>
</table>


</body>

</html>
