<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Web Templates by LINE9.com</title>
</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginheight="0" marginwidth="0" bgcolor="#FFFFFF">


<table border="0" width="100%" cellspacing="0" cellpadding="0" background="img/topbkg.gif">
  <tr>
    <td width="50%">
      <p align="left"><img border="0" src="img/topleft.gif" width="86" height="93"></td>
    <td width="50%">
      <p align="right"><img border="0" src="img/logo.gif" width="430" height="93"></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="1%" background="img/sidebkg.gif" valign="top"><font size="1">&nbsp;</font>
      <p><font size="1">&nbsp;</font></p>
      <p><font size="1">&nbsp;</font><br>
      <img border="0" src="img/blankbutton.gif" width="167" height="31"><br>
      <img border="0" src="img/blankbutton.gif" width="167" height="31"><br>
      <img border="0" src="img/blankbutton.gif" width="167" height="31"><br>
      <img border="0" src="img/blankbutton.gif" width="167" height="31"><br>
      <img border="0" src="img/blankbutton.gif" width="167" height="31"><br>
      <img border="0" src="img/blankbutton.gif" width="167" height="31"><br>
      <img border="0" src="img/blankbutton.gif" width="167" height="31"><br>
      <img border="0" src="img/blankbutton.gif" width="167" height="31"><br>
      <font size="1">&nbsp;</font></p>
      <p><font size="1">&nbsp;</font></td>
    <td width="98%" valign="top"><font size="4">Header 1</font>
      <p><font size="3">Place your content here.</font></p>
      <p><font size="3">&nbsp;</font></p>
      <p><font size="3">&nbsp;</font></p>
      <p><font size="4">Header 2</font></p>
      <p><font size="3">Place your content here.</font></p>
      <p><font size="3">&nbsp;</font></p>
      <p><font size="3">&nbsp;</font></p>
      <p><font size="3">&nbsp;</font></p>
      <p><font size="3">&nbsp;</font></p>
      <p align="center"><font face="Arial" size="1">© COPYRIGHT 2001 ALL RIGHTS
      RESERVED YOURDOMAIN.COM</font></td>
    <td width="1%" background="img/sideblu.gif"><img border="0" src="img/sideblu.gif" width="46" height="32"></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0" background="img/botbkg.gif">
  <tr>
    <td width="100%"><img border="0" src="img/botimg.gif" width="96" height="9"></td>
  </tr>
</table>


</body>

</html>
