<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Web Templates by LINE9.com</title>
</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginheight="0" marginwidth="0" bgcolor="#FFFFFF">


<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="100%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="1">&nbsp;&nbsp;&nbsp;</font></td>
  </tr>
</table>
<div align="center">
  <center>
  <table border="0" width="90%" cellspacing="0" cellpadding="0" background="img/redbkg.gif">
    <tr>
      <td width="100%"><img border="0" src="img/redbkg.gif" width="12" height="6"></td>
    </tr>
  </table>
  </center>
</div>
<div align="center">
  <center>
  <table border="0" width="90%" cellspacing="0" cellpadding="0">
    <tr>
      <td width="99%"><font size="4" face="Arial"><b>PLACE YOUR AUCTION TITLE
        HERE</b></font></td>
    </center>
    <td width="1%">
      <p align="right"><img border="0" src="img/upforauction.gif" width="180" height="37"></td>
  </tr>
  </table>
</div>
<div align="center">
  <center>
  <table border="0" width="90%" cellspacing="0" cellpadding="0" background="img/bluebkg.gif">
    <tr>
      <td width="100%"><img border="0" src="img/bluebkg.gif" width="6" height="6"></td>
    </tr>
  </table>
  </center>
</div>
<div align="center">
  <center>
  <table border="0" width="90%" cellspacing="0" cellpadding="0">
    <tr>
      <td width="1%" background="img/bluebkg.gif"><img border="0" src="img/bluebkg.gif" width="6" height="6"></td>
      <td width="98%">
        <table border="0" width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td width="43%">
              <p align="center"><img border="0" src="img/photos.gif" width="196" height="120"></p>
              <p align="center"><img border="0" src="img/photos.gif" width="196" height="120"></td>
            <td width="57%" valign="top"><br>
              <img border="0" src="img/decript.gif" width="296" height="18">
              <p><font face="Arial" size="2">Place your item description here.</font></p>
              <p><font face="Arial" size="2">&nbsp;</font></p>
              <p><font face="Arial" size="2">&nbsp;</font></p>
              <p><img border="0" src="img/terms.gif" width="297" height="19"></p>
              <p><font face="Arial" size="2">Place your Auction Terms and
              Payment Policy Here.</font></p>
              <p><font face="Arial" size="2">&nbsp;</font></p>
              <p><font face="Arial" size="2">&nbsp;</font></p>
              <p><font face="Arial" size="2">&nbsp;</font></td>
          </tr>
        </table>
      </td>
    </center>
    <td width="1%" background="img/bluebkg.gif">
      <p align="right"><img border="0" src="img/bluebkg.gif" width="6" height="6"></td>
  </tr>
  </table>
</div>
<div align="center">
  <center>
  <table border="0" width="90%" cellspacing="0" cellpadding="0" background="img/bluebkg.gif">
    <tr>
      <td width="100%"><img border="0" src="img/bluebkg.gif" width="6" height="6"></td>
    </tr>
  </table>
  </center>
</div>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="100%"><font size="1">&nbsp;</font></td>
  </tr>
</table>
<div align="center">
  <center>
  <table border="0" width="90%" cellspacing="0" cellpadding="0" background="img/redbkg.gif">
    <tr>
      <td width="100%"><img border="0" src="img/redbkg.gif" width="12" height="6"></td>
    </tr>
  </table>
  </center>
</div>


</body>

</html>
