<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Web Templates by LINE9.com</title>
</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginheight="0" marginwidth="0" bgcolor="#FFFFFF">


<table border="0" width="100%" cellspacing="0" cellpadding="0" background="img/topbkg.gif">
  <tr>
    <td width="100%"><img border="0" src="img/topbkg.gif" width="19" height="9"></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0" background="img/midtopbkg.gif">
  <tr>
    <td width="50%">
      <p align="left"><img border="0" src="img/logo.gif" width="183" height="78"></td>
    <td width="50%">
      <p align="right"><img border="0" src="img/produce.gif" width="268" height="78"></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0" background="img/linebkg.gif">
  <tr>
    <td width="100%">
      <p align="center"><img border="0" src="img/button.gif" width="113" height="29"><img border="0" src="img/button.gif" width="113" height="29"><img border="0" src="img/button.gif" width="113" height="29"><img border="0" src="img/button.gif" width="113" height="29"><img border="0" src="img/button.gif" width="113" height="29"><img border="0" src="img/button.gif" width="113" height="29"></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="1%" background="img/sidebkg.gif"><img border="0" src="img/sidebkg.gif" width="5" height="31"></td>
    <td width="98%" valign="top">
      <p style="margin-left: 20"><br>
      <font face="Arial" size="5">Header 1</font></p>
      <p style="margin-left: 20"><font size="2" face="Arial">Place your content
      here!</font></p>
      <p style="margin-left: 20"><font size="2" face="Arial">&nbsp;</font></p>
      <p style="margin-left: 20"><font size="2" face="Arial">&nbsp;</font></p>
      <p style="margin-left: 20"><font face="Arial" size="5">Header 2</font></p>
      <p style="margin-left: 20"><font size="2" face="Arial">&nbsp;</font></p>
      <p style="margin-left: 20"><font size="2" face="Arial">&nbsp;</font></p>
      <p style="margin-left: 20"><font size="2" face="Arial">&nbsp;</font></p>
      <p style="margin-left: 20">&nbsp;</p>
      <p style="margin-left: 20" align="center"><font face="Arial" size="1">&nbsp;©
      COPYRIGHT 2001 ALL RIGHTS RESERVED YOURDOMAIN.COM</font></td>
    <td width="1%" background="img/sidebkg.gif">
      <p align="right"><img border="0" src="img/sidebkg.gif" width="5" height="31"></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0" background="img/botbkg.gif">
  <tr>
    <td width="100%"><img border="0" src="img/botbkg.gif" width="19" height="11"></td>
  </tr>
</table>


</body>

</html>
