<html>

<head>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>WEB TEMPLATE PROVIDED BY LINE9.com</title>
</head>

<body>

<div align="center">
  <center>
  <table border="0" width="90%" background="bkg.jpg" cellspacing="0" cellpadding="0">
    <tr>
      <td width="5%">&nbsp;</td>
      <td width="90%" colspan="2"><b><font color="#FFFFFF" size="2" face="Verdana">HOME
        <img border="0" src="sideline.jpg" width="2" height="12"> ABOUT US <img border="0" src="sideline.jpg" width="2" height="12">
        OUR GALLERY<br>
        </font>
        <font color="#FFFFFF" face="Verdana" size="1">&nbsp;</font></b></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr>
      <td width="5%">&nbsp;</td>
    </center>
    <td width="90%" colspan="2">
      <table border="0" width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td width="15%" valign="bottom">
            <p align="left"><img border="0" src="tlwhiteuse.gif" width="84" height="27"></td>
          <td width="51%" valign="top">
            <p align="left"><b><font color="#E8B800" face="Verdana" size="2">&nbsp;&nbsp;&nbsp;&nbsp;
            Welcome To<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </font><font color="#FFFFFF" size="4">YOUR
            COMPANY NAME</font></b></td>
          <td width="34%" valign="bottom">
            <p align="right"><img border="0" src="tryellowuse.gif" width="216" height="26" align="right"></td>
        </tr>
      </table>
    </td>
    <center>
    <td width="5%">&nbsp;</td>
    </tr>
    <tr>
      <td width="5%">&nbsp;</td>
      <td width="90%" colspan="2" height="5"><img border="0" src="yellowtop.jpg" width="615" height="7"></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr>
      <td width="5%">&nbsp;</td>
      <td width="20%" bgcolor="#FFFFFF" valign="top"><br>
        <p><img border="0" src="logo.jpg" width="108" height="52"></p>
      </center>
      <p align="left">&nbsp;<img border="0" src="buttontop.jpg" width="95" height="22"><br>
      &nbsp;<img border="0" src="buttonmiddleex.jpg" width="95" height="22"><br>
      &nbsp;<img border="0" src="buttonmiddleex.jpg" width="95" height="22"><br>
      &nbsp;<img border="0" src="buttonmiddleex.jpg" width="95" height="22"><br>
      &nbsp;<img border="0" src="buttonmiddleex.jpg" width="95" height="22"><br>
      &nbsp;<img border="0" src="buttonmiddleex.jpg" width="95" height="22"><br>
      &nbsp;<img border="0" src="buttonmiddleex.jpg" width="95" height="22"><br>
      &nbsp;<img border="0" src="buttonbottom.jpg" width="94" height="23"><center></td>
    <td width="70%" bgcolor="#FFFFFF" valign="top">
      <p align="center">&nbsp;</p>
      <blockquote>
        <p align="left"><font size="5">Heading 1</font><br>
        <img border="0" src="yelline.jpg" width="312" height="3"></p>
        <ul>
          <li>
            <p align="left"><font face="Verdana" size="2">This is where you
            place your text. This is where you place your text. This is where
            you place your text. </font></li>
          <li>
            <p align="left"><font face="Verdana" size="2">This is where you
            place your text. This is where you place your text. This is where
            you place your text.</font></li>
        </ul>
        <p align="left"><font size="5">Heading 2<br>
        </font><img border="0" src="yelline.jpg" width="312" height="3"></p>
        <ul>
          <li>
            <p align="left"><font face="Verdana" size="2">This is where you
            place your text. This is where you place your text. This is where
            you place your text. This is where you place your text. </font></li>
          <li>
            <p align="left"><font face="Verdana" size="2">This is where you
            place your text. This is where you place your text.</font></li>
        </ul>
      </blockquote>
      <p align="center">&nbsp;</td>
    <center>
    <td width="5%">&nbsp;</td>
    </tr>
    <tr>
      <td width="5%">&nbsp;</td>
      <td width="90%" colspan="2">
        <p align="center"><font face="Verdana" size="1" color="#FFFFFF">YOUR
        COMPANY - COPYRIGHT 2000 - ALL RIGHTS RESERVED</font></td>
      <td width="5%">&nbsp;</td>
    </tr>
  </table>
  </center>
</div>

</body>

</html>
