<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>SpyderPC.net</title>
</head>

<body bgcolor="#FFFFFF">


<p align="center"><font face="Arial" size="1">REMOVE THIS LINE: TEMPLATE 301-306
ARE DESIGNED AS QUICK LOADING HTML PAGES FOR AUCTIONS.</font></p>
<div align="center">
  <center>
  <table border="1" width="90%" cellspacing="0" cellpadding="0" bordercolor="#000000" bgcolor="#C5983A">
    <tr>
      <td width="100%"><b><font face="Arial" size="4" color="#000000">PLACE YOUR
        AUCTION TITLE HERE</font></b></td>
    </tr>
  </table>
  </center>
</div>
<div align="center">
  <table border="1" width="90%" cellspacing="0" cellpadding="0" bordercolor="#000000">
    <tr>
      <td width="74%" valign="top">
        <blockquote>
          <p align="center"><br>
          <font size="3">&nbsp;</font></p>
          <p align="center"><font face="Arial" size="3"><b>PLACE YOUR PHOTOS
          HERE</b></font></p>
          <p align="center"><font face="Arial" size="3"><b>&nbsp;</b></font></p>
          <div align="center">
            <table border="0" width="90%" bgcolor="#C5983A" cellspacing="0" cellpadding="0">
              <tr>
                <td width="100%"><b><font face="Arial" size="2" color="#000000">ITEM
                  DESCRIPTION:</font></b></td>
              </tr>
            </table>
          </div>
          <p><font face="Arial" size="2">Place your item description here.</font></p>
          <center>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <div align="center">
            <center>
            <table border="0" width="90%" bgcolor="#C5983A" cellspacing="0" cellpadding="0">
              <tr>
                <td width="100%"><font color="#000000"><b><font face="Arial" size="2">AUCTION
                  TERMS AND PAYMENT POLICY</font></b><font face="Arial" size="2"><b>:</b></font></font></td>
              </tr>
            </table>
            </center>
          </div>
          </center>
          <p align="left"><font face="Arial" size="2">Place your auction terms
          and payment policy here.</font></p>
          <center>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          </blockquote>
        </td>
      </tr>
    </table>
  </center>
</div>
<div align="center">
  <center>
  <table border="0" width="90%" cellspacing="0" cellpadding="0" bgcolor="#000000">
    <tr>
      <td width="100%"><font size="1">&nbsp;</font></td>
    </tr>
  </table>
  </center>
</div>


</body>

</html>
