<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Web Templates by LINE9.com</title>
</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginheight="0" marginwidth="0" bgcolor="#FFFFFF">


<table border="0" width="100%" cellspacing="0" cellpadding="0" background="img/topbkg.gif">
  <tr>
    <td width="50%"><img border="0" src="img/toplogo.gif" width="135" height="121"></td>
    <td width="50%">
      <p align="right"><img border="0" src="img/topright.gif" width="148" height="121"></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="99%" valign="top">
      <p style="margin-left: 20"><font size="4">Header 1</font></p>
      <p style="margin-left: 20"><font size="3">Place your content here.</font></p>
      <p style="margin-left: 20"><font size="3">&nbsp;</font></p>
      <p style="margin-left: 20"><font size="3">&nbsp;</font></p>
      <p style="margin-left: 20"><font size="4">Header 2</font></p>
      <p style="margin-left: 20"><font size="3">Place your content here.</font></p>
      <p style="margin-left: 20"><font size="3">&nbsp;</font></p>
      <p style="margin-left: 20"><font size="3">&nbsp;</font></p>
      <p style="margin-left: 20"><font size="3">&nbsp;</font></p>
      <p style="margin-left: 20" align="center"><font face="Arial" size="1">©
      COPYRIGHT 2001 ALL RIGHTS RESERVED YOURDOMAIN.COM</font></td>
    <td width="1%" background="img/sidebkg.gif" valign="top">
      <p align="right"><img border="0" src="img/sidebkg.gif" width="150" height="6"></p>
      <p align="right"><font size="1">&nbsp;</font><br>
      <img border="0" src="img/blankbutton.gif" width="150" height="30"><br>
      <img border="0" src="img/blankbutton.gif" width="150" height="30"><br>
      <img border="0" src="img/blankbutton.gif" width="150" height="30"><br>
      <img border="0" src="img/blankbutton.gif" width="150" height="30"><br>
      <img border="0" src="img/blankbutton.gif" width="150" height="30"><br>
      <img border="0" src="img/blankbutton.gif" width="150" height="30"><br>
      <img border="0" src="img/blankbutton.gif" width="150" height="30"><br>
      <img border="0" src="img/blankbutton.gif" width="150" height="30"></p>
      <p align="right"><font size="1">&nbsp;</font></p>
      <p align="right"><font size="1">&nbsp;</font></td>
  </tr>
</table>


</body>

</html>
