<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Web Templates by LINE9.com</title>
</head>

<body bgcolor="#FFFFFF">


<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="1%" valign="top" background="img/sidebkg.gif"><img border="0" src="img/wineside.gif" width="111" height="335"></td>
    <td width="99%" valign="top">
      <table border="0" width="100%" cellspacing="0" cellpadding="0" background="img/topbkg.gif">
        <tr>
          <td width="100%">
            <p align="right"><img border="0" src="img/toplogo.gif" width="147" height="90"></td>
        </tr>
      </table>
      <table border="0" width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td width="99%" valign="top">
            <p style="MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px" align="center"><font size="3">&nbsp;</font><font face="Arial" size="2" color="#000000"><b>YOUR
            LINK&nbsp;&nbsp; |&nbsp;&nbsp; YOUR LINK&nbsp;&nbsp; |&nbsp;&nbsp;
            YOUR LINK&nbsp;&nbsp; |&nbsp;&nbsp; YOUR LINK&nbsp;&nbsp;
            |&nbsp;&nbsp; YOUR LINK&nbsp;&nbsp; |&nbsp;&nbsp; YOUR LINK</b></font></p>
            <p style="MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px"><font size="4">Header
            1</font></p>
            <p style="MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px"><font size="3">Place
            your content here.</font></p>
            <p style="MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px"><font size="3">&nbsp;</font></p>
            <p style="MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px"><font size="3">&nbsp;</font></p>
            <p style="MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px"><font size="3">&nbsp;</font></p>
            <p style="MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px"><font size="4">Header
            2</font></p>
            <p style="MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px"><font size="3">Place
            your content here.</font></p>
            <p style="MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px"><font size="3">&nbsp;</font></p>
            <p style="MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px"><font size="3">&nbsp;</font></p>
            <p style="MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px"><font size="3">&nbsp;</font></p>
            <p style="MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px" align="center"><font face="Arial" size="1">©
            COPYRIGHT 2001 ALL RIGHTS RESERVED YOURDOMAIN.COM</font></td>
          <td width="1%" background="img/rightside.gif"><img border="0" src="img/rightside.gif" width="9" height="16"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0" background="img/botbkg.gif">
  <tr>
    <td width="100%"><img border="0" src="img/botimg.gif" width="124" height="9"></td>
  </tr>
</table>


</body>

</html>
